<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studytracker">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.reminder.addEditDeleteReminder.ReminderAddEditActivity"></activity>
        <activity android:name=".view.reminder.watchReminderList.RemindersActivity" />
        <activity android:name=".view.courseRegistration.selectCoursesForCourseRegistration.SelectCoursesActivity" />
        <activity android:name=".view.courseRegistration.watchCourseRegistration.CourseRegistrationActivity" />
        <activity android:name=".view.homePage.MenuActivity" />
        <activity android:name=".view.studyTrackerMember.addPushNotification.PushNotificationAddActivity" />
        <activity android:name=".view.studyTrackerMember.notificationPage.PushNotificationActivity" />
        <activity android:name=".view.courseRegistration.addEditDeleteCourseRegistration.CourseRegistrationAddEditActivity" />
        <activity android:name=".view.statistic.StatisticsActivity" />
        <activity android:name=".view.course.addEditDeleteCourse.CourseAddEditActivity" />
        <activity android:name=".view.course.watchCourseList.CoursesActivity" />
        <activity android:name=".view.login.signup.RegisterActivity" />
        <activity android:name=".view.login.signin.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>