body {
    display: grid;
    grid-template-columns: minmax(250px, 15%) auto minmax(250px, 15%);
    grid-template-rows: auto auto 80px ;
    grid-template-areas: "nav nav nav"
                         "side-left video side-right"
                         "footer footer footer";          
}

.topMenuContainer {
    grid-area: nav;
    background-color: #1F0318;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.videosContainer {
    grid-area: video;
    background-color: #E5F2C9;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.video-player {
    min-width: 350px;
    width: 49%;
}

.side-right {
    background-color: #7F534B; 
    grid-area: side-right;
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.side-left {
    background-color: #7F534B; 
    grid-area: side-left;
    display: flex;
    flex-direction: column;
}

.side-left a {
    text-align: left;
    margin-top: 5px;
    color: white;
}

.side-left h3 {
    font-size: 23px;
    font-weight: bold;
    color: #333333;
    text-align: center;
   
}

.side-right h3 {
    font-size: 23px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}


.button {
    background-color: #b11a1a;
    border: none;
    color: white;
    padding: 18px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    width: 100%;
    border-radius: 6px;
}

.button:hover {
    background-color: #ff423f;
}

.button:active {
    background-color: #ff0000;
}

#email {
    font-size: 16px;
    margin-bottom: 10px;
}

.box-left {
    padding: 20px;
    border: white solid 1px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px 10px 40px 0px;
    margin-top: 20px;
}

.box-simple {
    padding: 20px;
    border: white solid 1px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
}



.box-simple {
    padding: 20px;
    border: white solid 1px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    margin-top: 20px;
}

.box-simple a{
    color: blue;
    margin-top: 5px;
    text-decoration: none;
}



@media (max-width:1000px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
    body {
        grid-template-columns: minmax(250px, 15%) auto;
        grid-template-rows: auto auto auto 80px ;
        grid-template-areas: "nav nav"
                             "side-left video"
                             "side-right side-right"
                             "footer footer";   
    }

    p {
        font-size: 15px;
    }

    nav a{
        font-size: 15px;
    }

    .video-player {
        width: 100%;
    }

}

@media (max-width:700px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
    body {
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto 80px ;
        grid-template-areas: "nav"
                             "video"
                             "side-right"
                             "side-left"
                             "footer";   
    }

    p {
        font-size: 14px;
    }

    nav a{
        font-size: 14px;
    }

    .box-left {
        border-radius: 6px;
    }

    .video-player {
        width: 100%;
    }
}