body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.3rem;
}

p {
    color: #f4f4f4;
}

button {
    background: yellow;
    cursor: pointer;
    border: 0;
    border-radius: 10px;
    padding: 10px 15px;
}