body {
    margin: 0px;
    font-size: 18px;
    background-color: #f1f1f1;
    font-family: 'roboto-regular';
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.search-box {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    height: 50px;
    width: 30%;
    padding: 10px;
    border: 2px solid #111d5e;
    border-radius: 10px 0px 0px 10px;
    border-right: 0px;
    font-size: 20px;
    color: #333333;
    background: none;
}

img {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 20px;
}

.search-button {
    height: 50px;
    width: 40px;
    cursor: pointer;
    border: 2px solid #111d5e;
    border-radius: 0 10px 10px 0;
    border-left: none;
    background: aquamarine;
    font-size: 20px;
}

.actions-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

nav {
    background-color: #333333;
    color: white;
    display: flex;
    justify-content: center;
}

nav>a {
    color: white;
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

nav>a:hover {
    background-color: #ffffff33;
}

table {
    margin: 10px;
    background-color: #ffffff;
}

.actions-container>a {
    margin-top: 10px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.same-page {
    background-color: #555555;
}